
body{
    margin:0px;
}

/* THE HEADER */

.header{
    display:flex;
    background-color:#1F2937;
    align-items:center;
    justify-content:space-around;
}


.header-logo{
    color:white;
    font-weight:bold;
    font-size:24px;
}

.header ul{
    list-style-type:none;
    display:flex;
    gap:15px;
}

.header a{
    text-decoration:none;
    color:white;
}

/* SECTION ONE */

.section-one{
    display:flex;
    background-color:#1F2937;
    height:400px;
    align-items:center;
    justify-content:center;
    gap:100px;
}

.section-one .left{
    width:400px;
}

.section-one .title{
    font-size:48px;
    color:white;
    font-weight:bold;
}

.section-one .text{
    font-size:18px;
    color:white;
}

.section-one .right{
    background-color:darkslategray;
}

.section-one .image{
    color:white;
}

.section-one .image{
    padding:100px;
}

.section-one button{
    font-size:15px;
    background-color:#3882F6;
    padding:5px 20px;
    margin-top:10px;
    color:white;
    font-weight:bold;
    border-radius:10px;
    border-color:#3882F6;
    border:solid;
    border-color:#3882F6;
}

/* SECTION TWO */

.section-two{
    height:400px;
}

.section-two .title{
    text-align:center;
    font-weight:bolder;
    font-size:36px;
    padding:40px;
}

.section-two .container{
    display:flex;
    justify-content:center;
    gap:40px;
}

.section-two .one,.two,.three,.four{
    width:150px;
    text-align:center;
}

.section-two .image-one,.image-two,.image-three,.image-four{
    padding:75px;
    border:solid;
    border-color:#3882F6;
    border-radius:10px;
    margin-bottom:10px;
}

/* SECTION THREE */

.section-three{
    background-color:#E5E7EB;
    height:350px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.section-three .container{
    width:700px;
}

.section-three .quote{
    font-size:36px;
    font-style:italic;
    color:#1F2937;
}

.section-three .author{
    text-align:right;
    font-weight:bold;
    font-size:22px;
    margin-top:10px;
}

/* SECTION FOUR */

.section-four{
    height:300px;
    display:flex;
    justify-content:center;
    align-content:center;
    color:white;
}

.section-four .container{
    background-color:#3882F6;
    display:flex;
    margin:80px 160px;
    flex:1;
    border-radius:10px;
    justify-content:space-around;
    align-items:center;
}

.section-four .title{
    font-size:24px;
    font-weight:bold;
}

.section-four button{
    color:white;
    background-color:#3882F6;
    font-weight:bold;
    border-radius:10px;
    padding:5px 20px;
    border-color:white;
    border:solid 2px;
    font-size:15px;
}

/* FOOTER */

.footer{
    background-color:#1F2937;
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.footer .copyright{
    color:white;
}