.header{
    display:flex;
    background-color:#1F2937;
    align-items:center;
    justify-content:space-around;
}


.header-logo{
    color:white;
    font-weight:bold;
    font-size:24px;
}

.header ul{
    list-style-type:none;
    display:flex;
    gap:15px;
}

.header li{
    color:white;
}
